* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: bisque;
    overflow: hidden;
}

/* The Players */
.player-setup {
    margin: 25vh auto;
    padding: 2rem;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border-radius: 5%;
}

label {
    font-size: larger;
    font-weight: bolder;
}

input {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    font-size: larger;
    font-weight: bolder;
    border-radius: 20%;
    background-color: rgb(225, 223, 211);
}

button {
    padding: 1rem 3rem;
    font-size: larger;
    font-weight: bolder;
    border-radius: 20%;
    color: bisque;
    background-color: black;
    cursor: pointer;
}



/* The Game */

.game-board {
    margin: 15vh auto;
    width: 70vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 1rem;
    background-color: cadetblue;
    visibility: hidden;
}

.game-board div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 251);
}

